body{font-family:Tahoma,Arial;border-color:#346a9c;background:#9cbfda;color:black;font-size:12;background-image:url(/cow/input_bg.jpg);background-repeat:no-repeat;background-positiont:top left;}

		  