
body{font:80% Tahoma, sans-serif; color:#E0E0BE; old:#3F6473;}
.controls{font:80% Tahoma; margin:10px;}
.speed{font:80% Tahoma;}
a:link{color:#E7D3A3; text-decoration:none}
a:hover{ color:yellow; background:#000000; text-decoration:none; !important;}
a:visited{color:#E7D3A3;text-decoration:none; }
